body{
  background: #ADD8E6;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0%;
  margin: 0%;
}
#maindiv{
  margin-top: 50px;
  
}
#topPanel{
  color: #520909;
  margin-bottom: 20px;
  background-color: white;
  height: 120px;
  position: relative;
  top: -50px;
  width: 100%;
}
#logo{
  margin-left: 30px;
    margin-top: 12px;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: -60px;
    margin-right: 60px;
    color: #8E5A5A;
    font-size: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #572424 ;
    padding: 20px 25px;
    border: 20px;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #6E2121 ;
    color: #fff;
}